@*Vädersidan som visar upp geolocations data från wwwroot/js/weather.js*@
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
@*<h1 id="location"></h1>
<h1><div id="temp"></div></h1>
<h2><div id="weather"></div></h2>*@
<div class="content-subcontainer">
    <div class="well well-lg" id="location"></div>
    <div class="well well-lg" id="temp"></div>
    <div class="well well-lg" id="weather"></div>
    <script src="~/js/weather.js"></script>
    <script src="~/js/jsfunction.js"></script>
</div>

