<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <i class="fa-solid fa-volleyball fa-2x fa-spin" style="color: #fcfdfe;" ></i>
        <a class="navbar-brand" href="">TeamAdmin 2023</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="teamspage">
                <span class="oi oi-people" aria-hidden="true"></span> Teams
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="playersPage">
                <span class="oi oi-person" aria-hidden="true"></span> Players
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trainers">
                <span class="oi oi-task" aria-hidden="true"></span> Trainers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="competitionspage">
                <span class="oi oi-badge"  aria-hidden="true"></span> Competitions
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
