@{
}
<form asp-action="ProfilePicture" method="post" enctype="multipart/form-data">
    <!-- ...other fields... -->
    <input type="file" name="ProfilePicture" />
    <button type="submit">Upload Profile Picture</button>
</form>
